.signup-container {
    background-image: url(./images/sbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.input-group {
    margin: 10px 0;
}

.login-container {
    background-image: url(./images/lbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

#home-bg {
    background-image: url(./images/lbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}